<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <title>Index</title>
</head>
<body>
    <h1>Listado de Empleados</h1>
    <a href="index.html">Volver</a>
    <div>
        <a href="{{url_for('agregarempleado')}}">Agregar</a>
    </div>
    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Salario</th>
                    
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr>
                    <td>{{empleado.id}}</td>
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.cargo}}</td>
                    
                    <td>{{empleado.salario}}</td>
                    <td><a href="editarempleado/{{empleado.id}}">Editar</a></td>
                    <td><a href="eliminarempleado/{{empleado.id}}">eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>